@import "../../assets/variables";

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 35%);
    height: 100vh;
}

.postImage{
    width: 100%;
    border-radius: 1em;
}

.post{
    color: $fifth;
    margin: 1rem;
    padding: 0.5rem;
    height: fit-content;
    border: 1px solid $fourth;
    border-radius: 1.3em;
}

