@import "../../assets/variables";

.container{
    padding: 1em;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin: 1rem;
    color: white;
}


.post{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: $fourth;
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    border: 1px solid $fourth;
    border-radius: 1.3em;
    padding: 1rem 10rem;
    overflow: hidden;
    transition: all .5s ease-out;
}

.postImage{
    width: 50%;
    border-radius: 1em;
    padding: 1rem;
}

.postTitle{  
    font-size: larger;
    margin-block-start: 1;
    margin-block-end: 0;
    color: $fifth;
    text-transform: uppercase;
    text-align: center;
}

.postText{
    white-space: pre-wrap;
}


.postSummary{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: medium;
    font-weight: 400;
    color: $fifth;
    text-align: center;
}

.postCategory{
    display: flex;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 400;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    padding: 1rem 0 0 0;
}

.categoryButton {
    background-color: $primary;
    color: $fourth;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid $fourth;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.categoryButton:hover {
    background-color: $secondary;
    cursor: pointer;
    color: $primary;
    border: 1px solid $primary;
}


    @media screen and (min-width: $xs) {
        .container{
            gap: 2%;
        }
        .postImage{
            width: 75%;
        }
        .post{
            padding: 1rem 1.5rem;

        }

        
    }
    @media screen and (min-width: $sm) {
        .container{
            gap: 2%;
        }
        .postImage{
            width: 75%;
        }
        .post{
            padding: 1rem 1.5rem;

        }
        
    }
    @media screen and (min-width: $md) {
        .container{
            gap: 4%;
        }
        .postImage{
            width: 60%;
        }
        .post{
            padding: 1rem 3rem;

        }
    }
    @media screen and (min-width: $lg) {
        .container{
            gap: 4%;
        }
        .postImage{
            width: 55%;
        }
        .post{
            padding: 1rem 5rem;

        }
    }
    @media screen and (min-width: $xl) {
        .container{
            gap: 4%;
        }
        .postImage{
            width: 50%;
        }
        .post{
            padding: 1rem 7.5rem;

        }
    }


