$primary: #122128;
$secondary: #5187C4;
$third: #8C6853;
$fourth: #A9C5B9;
$fifth: #D7C795;

.skillImage{
    width: 5rem;
}

.skillContainer{
    display: flex;
}

.skillContainer > p{
    margin-right: 0.5rem;
}

.skillTitle{
    color: $fourth;
    text-decoration: dashed;
}