@import "../../assets/variables";

.container{
    padding: 2em;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, 20em);
    gap: 5%;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: $fifth;
    border: 1px solid $fourth;
    border-radius: 1.3em;
    padding: 0.5em;

}

.projectImage{
    width: 100%;
    border-radius: 1em;
}

.technology{
    width: 100%;
    border-radius: 20em;
}

.linkToBuild{
    color: $secondary;
    text-decoration: none;
    cursor: pointer;
}

.skills{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0.5rem;
    overflow: hidden;
}

.skillImage{
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.container{
    @media screen and (min-width: $xs) {
        gap: 2%;
    }
    @media screen and (min-width: $sm) {
        gap: 2%;
    }
    @media screen and (min-width: $md) {
        gap: 4%;
    }
    @media screen and (min-width: $lg) {
        gap: 4%;
    }
    @media screen and (min-width: $xl) {
        gap: 4%;
    }
}