$primary: #191e24;
$secondary: #655f5b;
$third: #6f7474;
$fourth: #7f8688;
$fifth: #efeee8;

body{
  padding: 0;
  margin: 0;
  background-color: $primary;
  font-family: 'VT323', monospace;
}

a {
  all: unset;
}


html::-webkit-scrollbar {
  width: 15px;
}
 
html::-webkit-scrollbar-track {
  background: black;
}
 
html::-webkit-scrollbar-thumb {
  background: $fourth;
  border: 3px solid $primary;
}