$primary: #122128;
$secondary: #5187C4;
$third: #8C6853;
$fourth: #A9C5B9;
$fifth: #D7C795;

$xs: 320px;
$sm: 481px;
$md: 769px;
$lg: 1025px;
$xl: 1201px;

.div__homeContainer{
    display: flex;
    padding: 2em;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    border-radius: 3em;
    border: 1px solid $fourth;
    height: fit-content;
}
.div__infoContainer{
    color: $fourth;
    font-size: 1.5em;
    font-weight: 300;
}

.p__infoText{
    height: 1.5em;
}

.video{
    border-radius: 20em;
    flex-shrink: 0;
}
.div__socials{
    display: flex;
    gap: 0.5em;
}

.div__spotify{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div__noPlayingScreen{
    color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15rem;
}

.div__noPlayingScreen h3{
    font-weight: 420;
}

.div__noPlayingScreen img{
    width: 5em;
    border-radius: 100%;
}

.div__playingScreen{
    background-color: $primary;
    border-radius: 10%;
    padding: 0.3em;
    color: $fourth;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.2em;
}

.div__playingScreen img{
    width: 75%;
    border-radius: 15%;
}

.div__playingScreen h3{
    font-weight: 420;
}

.icon__social{
    cursor: pointer;
    transition: all .3s ease-out;
}

.icon__social:hover,
.icon__social:focus{
    transform: translateY(-20%)
}



.div__homeContainer{
    @media screen and (min-width: $xs) {
        width: 85%;
    }
    @media screen and (min-width: $sm) {
        width: 85%;
    }
    @media screen and (min-width: $md) {
        width: 75%;
    }
    @media screen and (min-width: $lg) {
        width: 65%;
        //height: 70vh;
    }
    @media screen and (min-width: $xl) {
        width: 55%;
    }
}


.video{
    @media screen and (min-width: $xs) {
        width: 75%;
    }
    @media screen and (min-width: $sm) {
        width: 55%;
    }
    @media screen and (min-width: $md) {
        width: 45%;
    }
    @media screen and (min-width: $lg) {
        width: 35%;
    }
    @media screen and (min-width: $xl) {
        width: 35%;
    }
}

    .div__playingScreen{
        @media screen and (min-width: $xs) {
            width: 75%;
        }
        @media screen and (min-width: $sm) {
            width: 55%;
        }
        @media screen and (min-width: $md) {
            width: 45%;
        }
        @media screen and (min-width: $lg) {
            width: 35%;
        }
        @media screen and (min-width: $xl) {
            width: 35%;
        }
    }
